*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
}

.body{
  width: 100%;
  height: 100vh;
}       



#red{ 
  width: 150px;
  height: 40px;
  background-color: red;
  border-radius: 20px;
  border: none;
}
#blue{
  width: 150px;
  height: 40px;
  background-color: blue;
  border-radius: 20px;
  border: none;
}
#yellow{
  width: 150px;
  height: 40px;
  background-color: yellow;
  border-radius: 20px;
  border: none;
}

.btns{
  padding: 30px;
  display: flex;
  gap: 10px;
}